.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #ccc;
  text-align: center;
}

.game-over-container p {
  font-size: 1.4rem;
  line-height: 1.6;
  max-width: 600px;
}
